@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --color-one: #8261EE ;
    --color-two: #FF589E; 
    --color-text : #1e1e1e ;
    --font : "Raleway", sans-serif; 
}

body{
    color : var(--color-text) ; 
    line-height: 1.6 ;
    font-family: var(--font);
}

a{
    text-decoration: none;
}
/* .container{
    max-width: 1100px;
    margin: 0 auto;
}
@media(max-width:1199.98px){
    max-width: 1100px;
    margin: 0 auto;
} */

.button{
    display: inline-block;
    padding:8px 20px;
    border-radius: 30px;
    background-color: #fff;
    font-size: 13px;
    font-weight: 500;
    transition: all 0.3s ease 0s;
}
.button-discover{
    background-color: var(--color-two);
    color: #fff;
}

.button-discover:hover{
    background-color: var(--color-one);
}

p{
    color:#777777
}
li{
    list-style: none;
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
span{
    display: block;
}
.col-xl-20{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-witdh:1200px){
    .col-xl-20{
        -ms-flex: 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}