/* Header */
.header{
    position:fixed;
    top: 40px;
    left: 0;
    width: 100% ; 
    z-index: 999; 
}

.header .inner-main{
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    padding :25px 30px ; 
    border-radius: 45px;
    background-color: #fff;
    /* max-width: 1100px;
    margin: 0 auto; */
}

.header .inner-logo{
    height: 30px;
    width: auto;
}

.header .inner-menu ul{
    list-style: none;
    padding :0 ; 
    margin:0 ; 
    display: flex;
}

.header .inner-menu ul li{
    margin-left: 30px;
}
.header .inner-menu ul li a{
    color: var(--color-text);
    font-size: 14px;
    font-weight:500;
}
.header .inner-menu ul li a:hover{
    color:var(--color-two); 
}
/* End-Header */

/* Section1 */
.section-one {  
    background-image: url(../img/banner-bg.png);
    height: 100vh;
    background-repeat: no-repeat; 
    background-size: cover;
    /* background-position: center bottom; */
    background-position: 50% 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-one .inner-wrap{
    text-align: center;
    max-width: 570px ; 
    margin: 0 auto;
}

.section-one .inner-title{
    color: #fff;
    font-size: 36px;
    margin-bottom: 30px;
    line-height: 54px;
    letter-spacing: 1.4px;
    font-weight: 500;
}
.section-one .inner-desc{
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    line-height: 28px;
    letter-spacing: 0.25px;
    margin-bottom: 40px;
}
@media(max-width:767.98px){
    .section-one .inner-title{
        font-size: 24px;
        line-height: 30px;
    }
    .section-one .inner-desc{
        font-size: 14px;
        line-height: 22px;
    }
}
/* End-Section1 */

/* Section2 */
.section-two{
    margin-top: -190px;
    margin-bottom: 30px;
}

.section-two .inner-box{
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
    background-color: #fff;
    border-radius: 20px;
    padding: 30px 30px;
    text-align: center;
}

.section-two .inner-box .inner-icon{
    background-color: var(--color-one);
    width: 90px;
    height: 90px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding :15px; 
    transition: all 0.3s ease 0s;
    cursor: pointer;
    margin-bottom: 30px;
}
.section-two .inner-box .inner-icon:hover{
    background-color: var(--color-two);
}

.section-two .inner-box .inner-icon img{
    width: 100%;
    height: 100%;
    object-fit: contain ; 
}

.section-two .inner-box .inner-title{
    font-size: 18px;
    margin-bottom: 15px;
}
.section-two .inner-box .inner-desc{
    font-size: 13px;
    margin-bottom: 0px;
}
@media (max-width:991.98px){
    .section-two{
        margin-top: 0px;
        margin-bottom: 30px;
    }
    .section-two .inner-box{
        margin-bottom: 40px;
    }
}
/* End-Section2 */

/* Section3 */
.section-three{
    margin-top: 100px;
    margin-bottom: 100px;
}

.section-three .inner-img{
    text-align: center;
}
.section-three .inner-img img{
    max-width: 100%;
    height: auto;
}
.section-three .inner-content .inner-title{
    font-weight: 500;
    line-height: 42px;
    font-size: 24px;
    margin-bottom: 30px;
    letter-spacing: 0.25px;

}
.section-three .inner-content .inner-desc{
    font-size: 16px;
}

.section-three .inner-boder-bottom{
    border-bottom: 1px solid #ddd;
    padding-bottom: 101px;
    margin-bottom: 100px;
}
@media(max-width:991.98px){
    .section-three .inner-content{
        margin-top: 30px;
    }
}
/* End-Section3 */

/* Section-4 */
.section-four{
    background-image: url(../img/work-process-bg.png);
    height: auto; 
    min-height: 80vh; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 80px 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.95;
}
.section-four .inner-wrap{
    text-align: center;
    padding: 20px 0px;
    color:#fff ; 
}
.section-four .inner-wrap .inner-title{
    color: #fff;
    font-weight: 500;
    font-size: 28px;
    letter-spacing: 0.25px;
    margin-bottom: 30px ;
}
.section-four .inner-wrap .inner-desc{
    margin-bottom: 40px;
    color: #fff;
    letter-spacing: 0.25px;
    line-height: 26px;
    font-weight: 400;
    font-size: 15px;
}
.section-four .inner-box{
    background-color: #fff;
    padding:20px 20px; 
    text-align: center;
    justify-content: center;
    border-radius:20px;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
    margin-bottom: 30px;
    transition: all 0.3s ease 0s;
    position: relative;
}
.section-four .inner-box:hover{
    margin-top: -10px;
}
.section-four .inner-box::before{
    content: "";
    position: absolute;
    z-index: -1;
    background-color: #fff;
    width: 100%;
    height: 100%;
    margin: auto;
    opacity: .15;
    bottom: -10px;
    left: 0px;
    right: -20px;
    border-radius: 20px;
}
.section-four .inner-box .inner-icon{
    width: 32px;
    height: 32px; 
    display: inline-flex;
    text-align: center;
    justify-content: center;

}
.section-four .inner-box .inner-icon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.section-four .inner-box .inner-title{
    font-size: 17px;
    margin-bottom: 5px;
    margin-top: 20px;
}
.section-four .inner-box .inner-desc{
    font-size: 14px;
    display: block;
    font-weight: 400;
    color: #777777;
    letter-spacing: .75px;
}

/* End-Section-4 */

/* Section-5 */
.section-five{
    padding-top: 100px;
    padding-bottom: 80px;
    display: flex;
    text-align: center;
    justify-items: center;
}
.section-five .inner-wrap .inner-title{
    font-weight: 500;
    font-size: 28px;
    color: #1e1e1e;
    letter-spacing: 1.75px;
    line-height: 38px;
    margin-bottom: 20px;
}
.section-five .inner-wrap .inner-desc{
    font-size: 15px;
    color: #777;
    margin-bottom: 30px;
}
.section-five .inner-box{
    background: #fff;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
    border-radius: 20px;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 25px;
    overflow: hidden;
}
.section-five .inner-box .inner-icon{
    margin-top: 25px;
    margin-left: 25px;
    font-size: 30px;
    color: #4E47DE;
    text-align: center;
}
.section-five .inner-box .inner-desc{
    margin-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 15px;
    color: #777;
    letter-spacing: 0.6px;
    line-height: 26px;
    text-align: left;
}
.inner-box:hover .team-info {
    margin-left: 30px;
}
.section-five .inner-box .team-info{
    transition: all 0.3s ease 0s;
}
.section-five .inner-box .team-info .user-name {
    display: block;
    font-weight: 400;
    font-size: 17px;
    color: #1e1e1e;
    letter-spacing: 0.25px;
    margin-bottom: 5px;
}
.section-five .inner-box .team-info span {
    display: block;
    font-weight: 400;
    font-size: 15px;
    color: #ff589e;
    letter-spacing: 0.25px;
}
/* End-Section-5 */

/* Section-6 */
.section-six{
    background: #f2f2fe;
    padding-top: 100px;
    padding-bottom: 80px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.section-six .inner-wrap{
    text-align: center;
    max-width: 490px ; 
    margin: 0 auto;
}
.section-six .inner-wrap .inner-title{
    font-weight: 500;
    font-size: 28px;
    color: #1e1e1e;
    letter-spacing: 1.75px;
    line-height: 38px;
    margin-bottom: 20px;
}
.section-six .inner-wrap .inner-desc{
    font-size: 15px;
    color: #777;
    margin-bottom: 30px;
}
.section-six .inner-box{
    background-color: #fff;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 30px 0px 40px 0px;
}
.section-six .price-heading .inner-title{
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.25px;
    color: #1e1e1e;
    width: 180px;
    height: 40px;
    line-height: 40px;
    margin: auto;
}
.section-six .price-body .price-wrap{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 13px;
    background: var(--color-one);
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 5px;
    border-radius: 20px;
}
.section-six .price-body .inner-pre{
    background-color: var(--color-two);
}
.section-six .price-body .price-wrap .inner-price{
    font-weight: 500;
    font-size: 28px;
    color: #fff;
    margin-bottom: 0px;
}
.section-six .price-body .price-wrap .inner-month{
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    display: block;
    letter-spacing: 0.88px;
    margin-bottom: 0px;
}

.section-six .price-body .price-list li{
    text-align: center;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 13px;
    color: #7a7a7a;
    letter-spacing: 0.25px;
    text-decoration: line-through;
}

.section-six .price-body .price-list li.active {
    color: #7a7a7a;
    text-decoration: none ;
}
.btn-purchase{
    font-size: 13px;
    border-radius: 20px;
    padding: 12px 20px;
    background-color: var(--color-one);
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.25px;
    transition: all 0.3s ease 0s;
}
.btn-purchase:hover{
    background-color:var(--color-two) ;
}
/* End Section-6 */

/* Section-7 */
.section-seven{
    background-image: url(../img/Section7-backge.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.section-seven .count-item.decoration-bottom{
    position: relative;
}
.section-seven .count-item.decoration-bottom::after{
    content: '';
    position: absolute;
    width: 70%;
    height: 32px;
    top: 160px;
    left: 70%;
    background: url(../img/a.png) center center no-repeat;
    transition: all 0.3s ease 0s;
}
.section-seven .count-item.decoration-top{
    position: relative;
}
.section-seven .count-item.decoration-top::after{
    content: '';
    position: absolute;
    width: 70%;
    height: 32px;
    top: 140px;
    left: 70%;
    background: url(../img/a.png) center center no-repeat;
    transition: all 0.3s ease 0s;
}
.section-seven .count-item .inner-content {
    height: 340px;
    float: left;
    width: 100%;
    display: flex;
    flex-direction: column; 
    transition: all 0.3s ease 0s;
}
.section-seven .count-item:hover .inner-content{
    margin-top: -20px;
}
.section-seven .count-item strong{
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 0.25px;
    margin-bottom: 10px;
    color: #fff;
    margin-top: 120px;
    transition: all 0.3s ease 0s;
}
.section-seven .count-item span{
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.25px;
}
@media(max-width:991.92px){
    .section-seven .count-item.decoration-bottom::after,
    .section-seven .count-item.decoration-top::after {
        display: none; 
    }
    .section-seven .count-item strong{
        margin-top: 30px;
    }
    .section-seven .count-item .inner-content {
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
/* End-Section-7 */

/* Section-8 */
.section-eight{
    padding-top: 100px;
    padding-bottom: 80px;
}
.section-eight .box-head{
    text-align: center;
    max-width: 580px;
    margin: 0 auto;
}
.section-eight .box-head .box-title{
    font-weight: 500;
    font-size: 28px;
    color:var(--color-text);
    letter-spacing: 1.75px;
    line-height: 38px;
    margin-bottom: 20px;
}
.section-eight .box-head .box-desc{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #777;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 50px;
}
.section-eight .inner-box{
    text-align: center;
    padding-bottom: 40px;
}
.section-eight .inner-box .inner-img{
    overflow: hidden;
    border-radius: 20px;
    height: 200px;
}
.section-eight .inner-box .inner-content{
    padding-top: 50px;
    margin-top: -30px;
}
.section-eight .inner-box .inner-content .inner-title{
    font-weight: 500;
    font-size: 18px;
    color: var(--color-text);
    letter-spacing: 0.25px;
    line-height: 26px;
    margin-bottom: 20px;
}
.section-eight .inner-box .inner-content .inner-desc{
    font-weight: 400;
    font-size: 13px;
    color: #777;
    letter-spacing: 0.26px;
    line-height: 26px;
    margin-bottom: 15px;
}

/* End Section-8 */

/* section-contact */
.contact-form{
    padding: 160px 0px;
    background: #f2f2fe;
}

.contact-form .contact-header{
    text-align: center;
    max-width: 580px;
    margin: 0 auto;
}
.contact-form .contact-header .head-title{
    font-weight: 500;
    font-size: 28px;
    color: #1e1e1e;
    letter-spacing: 1.75px;
    line-height: 38px;
    margin-bottom: 20px;
}
.contact-form .contact-header .head-desc{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #777;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 50px;;
}
.contact-form .contact-box{
    padding-left: 15px;
    padding-right: 15px;
}
.contact-form .contact-box h1{
    font-weight: 500;
    font-size: 18px;
    color: #1e1e1e;
    letter-spacing: 0.25px;
    line-height: 26px;
    margin-bottom: 30px;
}

.contact-form .contact-box .contact-address{
    font-weight: 400;
    font-size: 14px;
    color: #6F8BA4;
    letter-spacing: 0.6px;
    line-height: 26px;
    margin-bottom: 28px;

}
.contact-form .contact-box .contact-desc{
    font-weight: 400;
    font-size: 14px;
    color: #6F8BA4;
    letter-spacing: 0.6px;
    line-height: 26px;
    margin-bottom: 28px;
}
.contact-form .information-form input{
    color: #777;
    font-size: 14px;
    border: 1px solid #eee;
    width: 100%;
    height: 50px;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    appearance: none;
    margin-bottom: 30px;
}
.contact-form .information-form textarea{
    height: 150px;
    resize: none;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 25px;
    color: #777;
    font-size: 14px;
    border: 1px solid #eee;
    width: 100%;
    outline: none;
    appearance: none;
    
}

/* End-section-contact */

.footer{
    background-image: linear-gradient(127deg, #a759d1 0%, #8261ee 91%);
    padding-top: 30px;
}
.footer .social{
    display: flex;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    justify-content: center;
}
.footer .social a{
    color: #9d5bd9;
    text-align: center;
    background-color: #fff;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 50%;
    display: inline-block;
    font-size: 16px;
    transition: all 0.3s ease 0s;
}
.footer .social a:hover{
    background-color: #ff589e;
    color: #fff;
}
.footer .social li{
    margin: 0px 10px;
}
.footer .copy{
    text-align: center;
    border-top: 1px solid rgba(250, 250, 250, 0.2);
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    letter-spacing: 0.88px;
    text-transform: uppercase;
}